.center {
    /*margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: 'Lucida Handwriting';
    font-size:40px;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    font-size: large;
}

.btn:hover{
    background-color:royalblue;
}

.border {
    border: 3px solid green;
}

.background {
    margin-top: 0px;
    background-color: bisque;
    overflow-x: auto;
}

.txtarea {
    margin: 10px;
    height: 500px;
    width: 800px;
    resize: none;
    font-size: 15px;
    font-family: 'Lucida Sans';
}

.header2 {
    margin: 10px;
}

.sidebar {
    margin: 10px;
    background-color:lightblue;
    width: 500px;
    height: 500px;
    border-color: aquamarine;
    border-width: 10px;
}

.inline {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

.sidebarBtn {
    margin-top: 10px;
    background-color: green;
}

.sidebarBtn:hover {
    background-color: mediumseagreen;
}

.myImage {
    margin: 10px;
    width:200px;
    height:200px;
}

.margin10 {
    margin: 10px;
}

.savememory {
    margin-left: 100px;
}

.headerline {
    width: 50%;
    text-align: left;
    height:1px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    display:inline-block;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:white;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: 25px;
    margin-right:25px;
    margin-top:25px;
    margin-bottom: 25px;
    vertical-align: middle;
    width: 300px;
    height: 300px;
  }

  .cardtext {
    display: inline-block;
    word-wrap:normal;
    width: 280px;
    margin: 10px;
    overflow-y: hidden;
  }

  .nopic {
    height: 235px;
  }

  .withpic {
    height: 50px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }